<aside>
    <section class="aside">
        <div class="aside__section">
            <h2 class="aside__section--title">Disfruta creando espacios</h2>
            <p class="aside__section--text">Una línea de productos diseñados para todos tus espacios</p>
            <a class="aside__section--link" href="" title="Comprar ahora" target="_blank">Comprar ahora</a>
        </div>
        <img class="aside__image" src="./assets/images/creando-espacios.jpg" alt="Espacios creados disfrutando"
            title="Espacios creados disfrutando">
    </section>
</aside>