<header class="background">
    <nav class="header">
        <div class="container">
            <a class="header__hamb" href="../index.html#" title="menu"><i class="fa-solid fa-bars fa-2x"></i></a>
            <nav>
                <ul class="header__menu">
                    <li><a class="header__menu--link" href="https://adalab.es/" title="Productos"> Productos</a></li>
                    <li><a class="header__menu--link" href="https://adalab.es/" title="Colecciones">Colecciones</a></li>
                    <li><a class="header__menu--link" href="https://adalab.es/" title="Tienda">Tienda</a></li>
                    <li><a class="header__menu--link" href="https://adalab.es/" title="Inicio">Inicio</a></li>
                </ul>
            </nav>
        </div>
        <img class="header__logo" src="./assets/images/logo.png" alt="Logo" title="Logo">
    </nav>
    <section class="hero">
        <h1 class="hero__title">Disfruta creando espacios</h1>
        <a class="hero__link" href="https://adalab.es/" title="Comprar ahora" target="_blank">Comprar ahora</a>
    </section>
</header>