<main>
    <section class="principal">
        <h2 class="principal__title">Volverse organizando se siente mejor con <span class="principal__span"> open
                spaces</span></h2>
        <ul class="principal__list">
            <li class="principal__list1">
                <img class="principal__list--img" src="./assets/images/icon_1.png" alt="Lo que necesitas"
                    title="Lo que necesitas">
                <h4 class="principal__list--title">Lo que necesitas</h4>
                <p class="principal__list--text">Una línea de productos diseñados para todos tus espacios</p>
            </li>
            <li class="principal__list2">
                <img class="principal__list--img" src="./assets/images/icon_2.png" alt="Materia prima sostenible"
                    title="Materia prima sostenible">
                <h4 class="principal__list--title">Materias primas sustentables</h4>
                <p class="principal__list--text">Todos los productos con materias primas sustentables</p>
            </li>
            <li class="principal__list3">
                <img class="principal__list--img" src="./assets/images/icon_3.png" alt="Guía" title="Guía">
                <h4 class="principal__list--title">Guía</h4>
                <p class="principal__list--text">Soporte y asesoramiento para ayudarte con tu objetivo</p>
            </li>
        </ul>
    </section>
    <section class="secondary">
        <img class="secondary__img" src="./assets/images/icon_4.png" alt="Envíos gratis garantizado"
            title="Envíos gratis garantizado">
        <h3 class="secondary__title">Envíos gratis garantizado</h3>
        <p class="secondary__text">Envío gratis en compras desde 100</p>
        <a class="secondary__link" href="https://adalab.es/" title="Comprar ahora" target="_blank">Comprar ahora</a>
    </section>
</main>