<main>
    <section class="principal">
        <h2 class="principal__subtitle">Volverse organizando se siente mejor con </h2>
        <h1 class="principal__title">Open spaces</h1>
        <ul>
            <li>
                <img src="./assets/images/icon_1.png" alt="Lo que necesitas" title="Lo que necesitas">
                <h4>Lo que necesitas</h4>
                <p>Una línea de productos diseñados para todos tus espacios</p>
            </li>
            <li>
                <img src="./assets/images/icon_2.png" alt="Materia prima sostenible" title="Materia prima sostenible">
                <h4>Materias primas sustentables</h4>
                <p>Una línea de productos diseñados para todos tus espacios</p>
            </li>
            <li>
                <img src="./assets/images/icon_3.png" alt="Guía" title="Guía">
                <h4>Guía</h4>
                <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
            </li>
        </ul>
    </section>
    <section>
        <img src="./assets/images/icon_4.png" alt="Envíos gratis garantizado" title="Envíos gratis garantizado">
        <h3>Envíos gratis garantizado</h3>
        <p>Envío gratis en compras desde 100</p>
        <a href="https://adalab.es/" title="Comprar ahora" target="_blank">Comprar ahora</a>
    </section>
</main>