.background {
    width: 100vw;
    height: 100vh;
    background: url(https://github.com/Adalab/modulo-1-evaluacion-final-olguita2412/blob/main/src/images/header.jpg?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__hamb {
        color: $color-darkgreen;
        position: fixed;
        left: 50px;
        top: 55px;
        @media all and (min-width:1728px) {
            display: none;
        }
    }
    &__logo {
        margin-top: 40px;       
    }
    &__menu{
        display: flex;
        gap: 20px;
        position: fixed;
        transform: translate(-32vw);
        @media all and (max-width:1728px) {
            display: none;
        }
        &--link {
            padding: 20px;
            color: $color-darkgreen;
            font-size: 1.6rem;
        }
    }
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width:900px) {
        width: 430px;
        margin: 0px 10vw;
        align-items: flex-start;
    }
    @media all and (min-width:1728px) {
        width: 430px;
        margin: 0px 13vw;
        align-items: flex-start;
    }
    &__title {
        font-size: 2.4rem;
        color: $color-darkgreen;
        font-weight: bold;
        text-align: center;
        padding-top: 25vh;
        padding-bottom: 60px;
        @media all and (min-width:900px) {
            font-size: 3.6rem;
            text-align: left;
            padding-bottom: 12px;
        }
    }
    &__link {
        color: white;
        background-color: $color-darkgreen;
        width: 176px;
        height: 48px;
        text-align: center;
        font-size: 1.6rem;
        padding: 10px;
    }
}
.hero a:hover {
    background-color: white;
    color: $color-darkgreen;

}