.hero {
    height: 100vh;
    background: url(../assets/images/header.jpg) cover repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__title {
        font-size: 2.4rem;
        color: $color-darkgreen;
        font-weight: bold;
        text-align: center;
    }
    &__link {
        text-decoration: none;
        color: white;
        background-color: $color-darkgreen;
        width: 176px;
        height: 48px;
        text-align: center;
        font-size: 1.6rem;
        padding: 10px;
    }
    
    
}